extends layout

block content
	h1= title
	div(class="search-box mb-m")
		form(id="pokemon-search-form", action="")
			div(class="form-row mb-m")
				label(class="form-label mr-m") Name
				input(id="pokemon-search-form-name-input", type="text", name="name", value=(filter.name || ''))
			div(class="form-row mb-m")
				label(class="form-label mr-m") Type
				div
					each pokemonType in ["Normal", "Grass", "Poison", "Fire", "Bug", "Flying", "Fairy", "Ground", "Rock", "Steel", "Fighting", "Ghost", "Ice", "Electric", "Dark", "Dragon"]
						label(class="toggle-input")
							input(type="checkbox", name="types", value=pokemonType, checked=(filter.types.includes(pokemonType))) 
							span= pokemonType
			div(class="form-row mb-m")
				label(class="form-label mr-m") Generation
				select(name="generation")
					option(value="", selected=(filter.generation === "")) All
					option(value="1", selected=(filter.generation === 1)) 1
					option(value="2", selected=(filter.generation === 2)) 2
					option(value="3", selected=(filter.generation === 3)) 3
					option(value="4", selected=(filter.generation === 4)) 4
					option(value="5", selected=(filter.generation === 5)) 5
					option(value="6", selected=(filter.generation === 6)) 6
			div(class="form-row mb-m")
				label(class="form-label mr-m") Legendary
				label(class="toggle-input")
					input(type="radio", name="legendary", value="", checked=(filter.legendary === ""))
					span All
				label(class="toggle-input")
					input(type="radio", name="legendary", value="1", checked=(filter.legendary === "1"))
					span Yes
				label(class="toggle-input")
					input(type="radio", name="legendary", value="0", checked=(filter.legendary === "0"))
					span No
			div(class="form-row")
				label(class="form-label mr-m") 
				button(id="pokemon-search-form-submit-btn", type="submit", class="form-submit-btn mr-m") Search
				button(type="button", class="form-reset-btn mr-m", onclick="location.href='/?'") Clear
	p(class="pokemon-list-summary")
		span Found 
		b(class="pokemon-count")= pokemons.length
		span  pokemons.
	div(class="pokemon-list")
		include mixins/pokemonCard
		each pokemon in pokemons
			a(href="/pokemon/"+pokemon.id, class="pokemon-card-link")
				+pokemonCard(pokemon)